<fieldset class="vehicle-form" [formGroup]="form()">
  <legend class="vehicle-form__title">{{ carinformation.form.vehicleTitle | translate }}</legend>

  <p class="vehicle-form__vin-info">
    <a href="#" class="vehicle-form__vin-link" (click)="onVinLinkClick($event)">
      {{ carinformation.form.vin.infoLink | translate }}
    </a>
  </p>

  <div class="vehicle-form__row">
    <mat-form-field appearance="outline" class="vehicle-form__input">
      <mat-label>{{ carinformation.form.licensePlate.label | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="licensePlate"
        [placeholder]="carinformation.form.licensePlate.placeholder | translate"
        autocomplete="off"
      />
      @if (licensePlateErrors(); as error) {
        <mat-error>{{ error | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="vehicle-form__input">
      <mat-label>{{ carinformation.form.mileage.label | translate }}</mat-label>
      <input
        matInput
        type="number"
        formControlName="mileage"
        [placeholder]="carinformation.form.mileage.placeholder | translate"
        autocomplete="off"
        inputmode="numeric"
        min="0"
      />
      @if (mileageErrors(); as error) {
        <mat-error>{{ error | translate }}</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="vehicle-form__field--full">
    <mat-form-field appearance="outline" class="vehicle-form__input">
      <mat-label>{{ carinformation.form.vin.label | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="vin"
        [placeholder]="carinformation.form.vin.placeholder | translate"
        autocomplete="off"
        maxlength="17"
      />
      @if (vinErrors(); as error) {
        <mat-error>{{ error | translate }}</mat-error>
      }
    </mat-form-field>
  </div>
</fieldset>
