<div class="summary-bar">
  <button
    mat-stroked-button
    class="summary-bar__back-button"
    (click)="onBack()">
    <mat-icon aria-hidden="true">arrow_back</mat-icon>
    {{ booking.services.backButton | translate }}
  </button>

  <button
    mat-raised-button
    color="primary"
    class="summary-bar__continue-button"
    [disabled]="!hasServicesSelected()"
    (click)="onContinue()">
    {{ booking.services.continueButton | translate }}
    <mat-icon aria-hidden="true">arrow_forward</mat-icon>
  </button>
</div>
