<div class="date-picker-card">
  <p class="date-picker-card__description">
    {{ booking.workshopCalendar.description | translate }}
  </p>

  <label class="date-picker-card__label" for="workshop-date-input">
    {{ booking.workshopCalendar.desiredDateLabel | translate }}
  </label>

  <div class="date-picker-card__input-row">
    <span class="icon-framed icon-framed--sm" aria-hidden="true">
      <mat-icon>calendar_today</mat-icon>
    </span>

    <mat-form-field class="date-picker-card__field" appearance="outline">
      <input
        matInput
        id="workshop-date-input"
        [matDatepicker]="picker"
        [min]="today"
        [attr.aria-label]="booking.workshopCalendar.dateInputAriaLabel | translate"
        [placeholder]="booking.workshopCalendar.datePlaceholder | translate"
        (dateChange)="onDateChange($event.value)"
      />
      <mat-datepicker-toggle matIconSuffix [for]="picker" />
      <mat-datepicker #picker />
    </mat-form-field>
  </div>
</div>
